<div id="content">

  <img src="<%= @image %>"></img>

  <h2><%= @title %> (<%= @year %>)</h2>

  <p>
    Director: <%= @director %>
  </p>

  <p>
    Runtime: <%= @runtime %>
  </p>

  <p>
    Genre: <%= @genre %>
  </p>

  <p>
    Actors: <%= @actors %>
  </p>

  <p>
    Plot: <%= @plot %>
  </p>

</div>
  
<!-- <p>
  <%= @details %>
</p> -->